[[source]]
# This Pipfile is for running the basic commands / tooling
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "~=1.8"
requests = "~=2.24"
click = "*"
celery = "*"

[dev-packages]
mypy = "~=0.9"
pytest = "~=6.2"
black = "*"
pylint = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
