[Unit]
Description=kat-mula daemon
Requires=kat-mula.socket
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/usr/share/kat-mula/app
EnvironmentFile=/etc/kat/mula.conf
ExecStart=/usr/share/kat-mula/venv/bin/python -m scheduler

[Install]
WantedBy=multi-user.target