[Unit]
Description=kat-mula daemon
After=network.target

[Service]
User=kat
Group=kat
WorkingDirectory=/usr/share/kat-mula/app
EnvironmentFile=/etc/kat/mula.conf
ExecStart=/usr/share/kat-mula/venv/bin/python -m scheduler

[Install]
WantedBy=multi-user.target